<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../CSS/week01.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@next"></script>
</head>
<body>
  <div id="app">    
    <div class="container">
      <div class="row py-3">
        <div class="col-md-6">
          <h2>產品列表</h2>
          <table class="table table-hover mt-4">
            <thead>
              <tr>
                <th width="150">產品名稱</th>
                <th width="120">
                  原價
                </th>
                <th width="120">
                  售價
                </th>
                <th width="150">
                  是否啟用
                </th>
                <th width="120">
                  查看細節
                </th>
              </tr>
            </thead>
            <tbody>
              <!-- :key -->
              <!-- 使用for迴圈並註明key值 -->
              <tr v-for="item in products" :key="item.id">
                <td width="150">{{item.title}}</td>
                <td width="120">
                  {{item.origin_price}}
                </td>
                <td width="120">
                  {{item.price}}
                </td>
                <td width="150">
                  <!-- 使用if/else來判斷是否啟用 -->
                  <span v-if="item.is_enabled" class="text-success">啟用</span>
                  <span v-else>未啟用</span>
                </td>
                <td width="120">
                  <!-- 使用click監聽事件並將原本的item賦予到空物件的變數tempProduct -->
                  <button type="button"
                  v-on:click="tempProduct = item" class="btn btn-primary">查看細節</button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 <span>{{products.length}}</span> 項產品</p>
        </div>
        <div class="col-md-6">
          <h2>單一產品細節</h2>
          <!-- <template> -->
            <!-- 使用if來載入第二層畫面 -->
          <div v-if="tempProduct.title">
            <div class="card mb-3">
              <!-- 使用v-bind:src綁定圖片 -->
              <img v-bind:src="tempProduct.imageUrl" class="card-img-top primary-image" alt="主圖">
              <div class="card-body">
                <h5 class="card-title">
                  {{tempProduct.title}}
                  <span class="badge bg-primary ms-2">{{tempProduct.category}}</span>
                </h5>
                <p class="card-text">商品描述：{{tempProduct.description}}</p>
                <p class="card-text">商品內容：{{tempProduct.content}}</p>
                <div class="d-flex">
                  <p class="card-text me-2">{{tempProduct.price}}</p>
                  <p class="card-text text-secondary"><del>{{tempProduct.origin_price}}</del></p>
                  {{tempProduct.unit}} / 元
                </div>
              </div>
            </div>            
            <!-- <template> -->
              <!-- 因為圖片數量不同，使用迴圈來一一迭代載入，並搭配if/else來依照選擇呈現畫面 -->
              <span v-for="(item,index) in tempProduct.imagesUrl" :key="id">
                <img v-if="item" :src="item" alt="產品圖片" class="images m-2">
              </span>              
            <!-- </template> -->
          <!-- </template> -->
          </div>
          <p v-else class="text-secondary">請選擇一個商品查看</p>
        </div>
      </div>
    </div>
  </div>
  <script src="../JS/week01_Vue.js"></script>
  
</body>
</html>